---

---

<section class="py-6 dark:bg-indigo-400 dark:text-steal-900 rounded-xl">
  <div
    class="container mx-auto flex flex-col items-center justify-center p-4 space-y-8 md:p-10 md:px-24 xl:px-48"
  >
    <h1 class="text-5xl font-bold leadi text-center">
      Something totally different
    </h1>
    <p class="pt-2 pb-8 text-xl font-medium text-center">
      Las Semanas de Trabajo Voluntario basadas en nuestra sede en el hermoso
      pueblo de Cofradía de Suchitlán, en la ladera de una colina, permiten a
      voluntarios de otros países participar en el servicio humanitario y
      convertirse en amigos y patrocinadores de la juventud mexicana que busca
      las muchas ventajas de la educación.
    </p>
    <button
      class="px-8 py-3 text-lg font-semibold rounded dark:bg-steal-800 dark:text-steal-50"
      >Service Week Schedule</button
    >
  </div>
</section>
