---
import Botton from "@components/layout/Botton.astro";
---

<section
  class="py-6 dark:bg-sky-700 rounded-xl border-sky-900/75 border-2 transition-all duration-300 bg-sky-600/80 text-slate-50"
>
  <div
    class="container mx-auto flex flex-col items-center justify-center p-4 space-y-8 md:p-10 md:px-24 xl:px-48"
  >
    <h1 class="text-5xl font-bold leadi text-center">
      ¡Amigos cercanos y lejanos, los niños de Cofradia esperan con ansias la
      alegría de la temporada festiva!
    </h1>
    <p class="pt-2 pb-8 text-xl font-medium text-center">
      Los niños participarán en grupos más pequeños en mini Fiestas de Navidad
      donde recibirán un obsequio de Papá Noel, zapatos y dulces, ¡gracias por
      su apoyo y alegría que les brindan!
    </p>
    <Botton link="" name="Service Week Schedule" />
  </div>
</section>
