---
import para from "@assets/intro.webp";
import { Image } from "astro:assets";
import Botton from "@components/layout/Botton.astro";
---

<div class="max-w-[1400px] mx-auto lg:prose-2xl pb-12">
  <section class="sm:grid sm:grid-cols-2" style="height: 100%;">
    <div class="flex items-center">
      <div class="mx-auto max-w-xl text-center">
        <div>
          <h2 class="text-3xl font-bold md:text-5xl">
            Transformando vidas a través de la educación
            <span class="text-indigo-700 dark:text-indigo-400"
              >Project Amigo</span
            >
          </h2>
          <p>¡Puedes ayudarnos a convertir los sueños en carreras!</p>
          <p class="md:mt-4 md:block">
            Make a Difference in the life of a child, give to ProjectAmigo.org
          </p>
        </div>

        <div class="mt-4 md:mt-8 md:mb-8">
          <Botton
            name="Donate"
            link="https://interland3.donorperfect.net/weblink/weblink.aspx?name=E55454&id=12"
          />
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <Image
        alt="Student"
        src={para}
        class="w-full h-full object-cover rounded-xl mx-auto"
      />
    </div>
  </section>
</div>
