---
import Layout from "../layouts/Layout.astro";
import Mision from "@components/layout/Mision.astro";
import Board from "@components/layout/Board.astro";
import { getCollection } from "astro:content";
const about = await getCollection("es");
---

<Layout title="About">
  <Mision />
  <div>
    <Board about={about} />
  </div>
</Layout>
