---
import Promo from "@components/aba/Promo.astro";
import Layout from "../layouts/Layout.astro";
import ImageSlider from "@components/layout/ImageSlider";
import Banner from "@components/aba/Banner.astro";
---

<Layout title="Home">
  <div class="px-4 mx-auto md:px-6">
    <Promo />
    <ImageSlider client:load />
    <Banner />
  </div>
</Layout>
