---
import Promo from "@components/aba/Promo.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "@components/aba/Banner.astro";
import SliderSection from "@components/layout/SliderSection.astro";
import Introduccion from "@components/layout/Introduccion.astro";
---

<Layout title="Home">
  <div class="px-4 mx-auto md:px-6">
    <Promo />
    <Introduccion />
    <SliderSection />
    <Banner />
  </div>
</Layout>
