---
const navItems = [
  { title: "Get Involved", path: "/PaDemo/getInvolved" },
  { title: "Service Weeks", path: "/PaDemo/serviceWeeks" },
  { title: "Blog", path: "/PaDemo/blog" },
  { title: "Safety", path: "/PaDemo/safety" },
  { title: "About Us", path: "/PaDemo/aboutUs" },
  { title: "Contact", path: "/PaDemo/contact" },
];
---

<header class="px-4 mx-auto max-w-xl lg:py-4 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-8">
    <a
      class="mb-4 text-5xl tracking-tight font-extrabold text-white"
      href="/PaDemo/"
      aria-label="PA home"
      role="link"
    >
      Project Amigo 🌕
    </a>
  </div>
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    {
      navItems.map((item) => (
        <a
          href={item.path}
          class="flex-row justify-center text-white cursor-pointer hover:bg-slate-700
    focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg
     px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55
      mr-2 mb2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-70 hover:opacity-100"
        >
          {item.title}
        </a>
      ))
    }
  </nav>
</header>
