---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}
const { title } = Astro.props;
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <link rel="icon" type="image/svg+xml" href="/PaDemo/pa.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>ProjectAmigo | {title}</title>
  </head>

  <body class="bg-slate-900 text-slate-50">
    <main class="px-4 mx-auto md:px6 container">
      <slot />
    </main>
  </body>
</html>
